// Framework only

DYLIB_INSTALL_NAME_BASE = @rpath

DYLIB_COMPATIBILITY_VERSION = 1.1
DYLIB_CURRENT_VERSION = 1.5.6

FRAMEWORK_VERSION = A
INFOPLIST_FILE = Info.plist
PRODUCT_NAME = SkimNotes
PRODUCT_BUNDLE_IDENTIFIER = scris.ds.preskim.framework.${PRODUCT_NAME}

DEFINES_MODULE = YES

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) SKIMNOTES_BUNDLE_IDENTIFIER=\"$(PRODUCT_BUNDLE_IDENTIFIER)\"
