// Common to all targets and all configurations

SDKROOT = macosx

DEBUG_INFORMATION_FORMAT = dwarf
ARCHS = $(ARCHS_STANDARD)
MACOSX_DEPLOYMENT_TARGET = 10.9

COPY_PHASE_STRIP = NO
SKIP_INSTALL = YES
STRIP_INSTALLED_PRODUCT = YES
STRIP_STYLE = debugging

PREBINDING = NO
ZERO_LINK = NO

COMBINE_HIDPI_IMAGES = YES

ALWAYS_SEARCH_USER_PATHS = NO

// GC is not supported in Xcode 5, and we never need it
//GCC_ENABLE_OBJC_GC = supported

ENABLE_STRICT_OBJC_MSGSEND = YES

GCC_C_LANGUAGE_STANDARD = c99

GCC_ENABLE_OBJC_EXCEPTIONS = YES
GCC_ENABLE_TRIGRAPHS = NO
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = NO

GCC_MODEL_TUNING = G5

CLANG_ENABLE_MODULES = YES

GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNUSED_VARIABLE = YES

GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_UNDECLARED_SELECTOR = YES

CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_UNREACHABLE_CODE = YES
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES

WARNING_CFLAGS = -Wfloat-equal
